/* inspired by https://github.com/folke/todo-comments.nvim */

/* syntax 

Will match only the following -
  - TODO: text
  - [ ] TODO: text
  - [x] TODO: text

And will not work for -
  - something TODO: text
  - [ ] something TODO: text
  TODO: text

*/

/* --- !! CHANGE COLORS HERE !! --- */ 
/* colors taken from https://github.com/catppuccin/catppuccin */

:root {
  --todo-color: #74c7ec; /* TODO */
  --bugfix-color: #f38ba8; /* BUG + FIX */
  --note-color: #94e2d5; /* NOTE */
  --warn-color: #f9e2af; /* WARN */
  --perf-color: #cba6f7; /* PERF */

  /* Background opacity */
  --highlight-opacity: 0.2;
}

/* CONFIG */

.markdown-reading-view li,
.markdown-source-view.mod-cm6 .cm-line {
  padding-left: 0.75em;
  border-radius: 4px;
  border-left: 4px solid transparent; /* Default, overridden below */
}

/* --- ADD OR REPLACE WITH YOUR OWN IN THE LINES BELOW --- */

/* TODO */

li[data-keyword="TODO"],
.cm-line[data-keyword="TODO"] {
  background-color: rgba(116, 199, 236, var(--highlight-opacity));
  border-left-color: var(--todo-color);
}

/* BUG + FIX */

li[data-keyword="BUG"],
li[data-keyword="FIX"],
.cm-line[data-keyword="BUG"],
.cm-line[data-keyword="FIX"] {
  background-color: rgba(243, 139, 168, var(--highlight-opacity));
  border-left-color: var(--bugfix-color);
}

/* NOTE */

li[data-keyword="NOTE"],
.cm-line[data-keyword="NOTE"] {
  background-color: rgba(148, 226, 213, var(--highlight-opacity));
  border-left-color: var(--note-color);
}

/* WARN */

li[data-keyword="WARN"],
.cm-line[data-keyword="WARN"] {
  background-color: rgba(249, 226, 175, var(--highlight-opacity));
  border-left-color: var(--warn-color);
}

/* PERF */

li[data-keyword="PERF"],
.cm-line[data-keyword="PERF"] {
  background-color: rgba(203, 166, 247, var(--highlight-opacity));
  border-left-color: var(--perf-color);
}
