{
  "minimal-style@@tag-radius": "4px",
  "minimal-style@@tag-border-width": "0",
  "minimal-style@@checkbox-shape": "checkbox-square",
  "minimal-style@@link-external-color@@dark": "#BF616A",
  "minimal-style@@minimal-strike-lists": true,
  "minimal-style@@tabs-style": "tabs-modern",
  "minimal-style@@row-lines": false,
  "minimal-style@@col-lines": false,
  "minimal-style@@row-alt": false,
  "minimal-style@@col-alt": false,
  "minimal-style@@table-numbers": false,
  "minimal-style@@table-nowrap": false,
  "minimal-style@@row-hover": true,
  "minimal-style@@active-line-on": true,
  "minimal-style@@italic-color@@dark": "#D699B6",
  "minimal-style@@blockquote-border-color@@dark": "#88C0D0",
  "minimal-style@@blockquote-background-color@@dark": "#3B4252",
  "minimal-style@@blockquote-color@@dark": "#ECEFF4",
  "minimal-style@@image-muted": 0.7,
  "minimal-style@@table-lines": false,
  "minimal-style@@table-tabular": true,
  "minimal-style@@callouts-style": "callouts-default",
  "minimal-style@@blockquote-border-thickness": 1,
  "minimal-style@@sidebar-tabs-style": "sidebar-tabs-default",
  "catppuccin-theme-settings@@catppuccin-theme-dark": "ctp-macchiato",
  "catppuccin-theme-settings@@catppuccin-theme-accents": "ctp-full-palette",
  "anuppuccin-theme-settings@@anuppuccin-theme-accents": "ctp-accent-sapphire",
  "anuppuccin-theme-settings-extended@@anp-theme-ext-light": false,
  "anuppuccin-theme-settings-extended@@anp-theme-ext-dark": true,
  "anuppuccin-theme-settings-extended@@catppuccin-theme-extended": "ctp-nord-light",
  "anuppuccin-theme-settings-extended@@catppuccin-theme-dark-extended": "ctp-kanagawa-dark",
  "supercharged-links@@4657-5e65-before": "󰂺 ",
  "supercharged-links@@4657-5e65-color": "#E67E81",
  "supercharged-links@@4657-5e65-weight": "normal",
  "supercharged-links@@b1a7-3727-weight": "normal",
  "supercharged-links@@7e28-4d57-color": "#E69875",
  "supercharged-links@@7e28-4d57-weight": "normal",
  "supercharged-links@@7e28-4d57-before": "󰩰 ",
  "supercharged-links@@b1a7-3727-color": "#7E9CD8",
  "anuppuccin-theme-settings@@anp-header-color-toggle": true,
  "anuppuccin-theme-settings@@anp-decoration-toggle": true,
  "anuppuccin-theme-settings@@anuppuccin-theme-dark": "ctp-mocha",
  "anuppuccin-theme-settings@@anuppuccin-light-theme-accents": "ctp-accent-light-peach",
  "minimal-style@@h1-l": true,
  "Plugin@@colorful-checkbox": true,
  "minimal-style@@link-color@@dark": "#7FBBB3",
  "supercharged-links@@3230-75cb-before": " ",
  "minimal-style@@trim-cols": false,
  "minimal-style@@maximize-tables-off": "maximize-tables-off",
  "minimal-style@@dataview-inline-lists": false,
  "minimal-style@@callout-blend-mode": "var(--highlight-mix-blend-mode)",
  "minimal-style@@ribbon-style": "ribbon-vertical-expand",
  "minimal-style@@h2-l": false,
  "minimal-style@@heading-spacing": "1.25em",
  "minimal-style@@p-spacing": "1.50rem",
  "minimal-style@@tab-stacked-pane-width": 1600,
  "minimal-style@@table-center": true,
  "minimal-style@@bold-color@@dark": "#83C092",
  "minimal-style@@metadata-dividers": true,
  "minimal-style@@tab-stacked-header-width": 50,
  "minimal-style@@tab-stacked-spine-orientation": "tab-stack-top",
  "minimal-style@@tab-stacked-spine-order": "row",
  "minimal-style@@hl2@@dark": "#56949F",
  "supercharged-links@@8b63-ef4b-color": "#FF5D62",
  "supercharged-links@@8b63-ef4b-weight": "normal",
  "supercharged-links@@8b63-ef4b-before": " ",
  "supercharged-links@@3230-75cb-weight": "normal",
  "supercharged-links@@3230-75cb-color": "#7FBBB3",
  "minimal-style@@bold-color@@light": "#83C092",
  "minimal-style@@italic-color@@light": "#D699B6",
  "minimal-style@@hl2@@light": "#543A48",
  "minimal-style@@minimal-unstyled-tags": false,
  "minimal-style@@link-color@@light": "#7FBBB3",
  "Appearance@@bg@@dark": "#24283B",
  "Appearance@@bg_dark@@dark": "#1F2335",
  "Appearance@@bg_highlight@@dark": "#292E42",
  "Appearance@@bg_highlight_dark@@dark": "#1F2335",
  "Appearance@@bg_dark2@@dark": "#1B1E2D",
  "cupertino@@clean-link-off": false,
  "minimal-style@@sidebar-tabs-names": "tab-names-off",
  "minimal-style@@vault-profile-display": "vault-profile-default",
  "supercharged-links@@aedf-a692-color": "#99E768",
  "supercharged-links@@aedf-a692-before": " ",
  "supercharged-links@@fc92-4478-before": " ",
  "supercharged-links@@fc92-4478-color": "#E67E81",
  "cupertino@@active-line-off": false,
  "Editor@@h1-divider-on": false,
  "Editor@@h1-color@@light": "#7AA2F7",
  "Editor@@h1-color@@dark": "#7AA2F7",
  "Editor@@h2-color@@light": "#7DCFFF",
  "Editor@@h2-color@@dark": "#7DCFFF",
  "Editor@@h3-color@@light": "#9ECE6A",
  "Editor@@h3-color@@dark": "#9ECE6A",
  "Editor@@h4-color@@light": "#E0AF68",
  "Editor@@h4-color@@dark": "#E0AF68",
  "Editor@@h5-color@@light": "#BB9AF7",
  "Editor@@h5-color@@dark": "#BB9AF7",
  "Editor@@h6-color@@light": "#A9B1D6",
  "Editor@@h6-color@@dark": "#A9B1D6",
  "retroma-obsidian-theme@@theme-variant": "theme-variant-2",
  "list-callouts@@lc-bg-bottom-reading": 2,
  "list-callouts@@lc-bg-right-reading": 2,
  "list-callouts@@lc-bg-top-reading": 2,
  "list-callouts@@lc-bg-right": 2,
  "list-callouts@@lc-bg-bottom": 2,
  "list-callouts@@lc-bg-top": 2,
  "retroma-obsidian-theme@@window-border-radius": "6px",
  "retroma-obsidian-theme@@button-border-radius": "6px",
  "cupertino-accessibility@@reduce-contrast-change": false,
  "cupertino-accessibility@@reduce-motion": true,
  "anuppuccin-theme-settings@@anp-active-line": "anp-current-line-border-only",
  "anuppuccin-theme-settings@@anp-callout-select": "anp-callout-sleek",
  "anuppuccin-theme-settings@@anp-callout-color-toggle": true,
  "anuppuccin-theme-settings@@anp-custom-checkboxes": true,
  "anuppuccin-theme-settings@@anp-codeblock-numbers": true,
  "anuppuccin-theme-settings@@anp-list-toggle": true,
  "anuppuccin-theme-settings@@anp-table-toggle": true,
  "anuppuccin-theme-settings@@anp-table-auto": true,
  "anuppuccin-theme-settings@@anp-table-th-highlight": true,
  "anuppuccin-theme-settings@@anp-td-highlight": "anp-table-row-alt",
  "anuppuccin-theme-settings@@anp-toggle-preview": true,
  "anuppuccin-theme-settings@@anp-header-divider-color-toggle": true,
  "anuppuccin-theme-settings@@hide-comment-indicators": true,
  "anuppuccin-theme-settings@@anp-alt-tab-style": "anp-alternate-tab-toggle",
  "anuppuccin-theme-settings@@tag-radius": 0.4,
  "anuppuccin-theme-settings@@callout-title-opacity": 0.1,
  "anuppuccin-theme-settings@@anp-colorful-frame-icon-toggle-light": false,
  "anuppuccin-theme-settings@@anp-colorful-frame-icon-toggle-dark": false,
  "anuppuccin-theme-settings@@anp-alt-rainbow-style": "anp-simple-rainbow-color-toggle",
  "anuppuccin-theme-settings@@anp-print": true,
  "anuppuccin-theme-settings@@anp-colorful-frame": false,
  "anuppuccin-theme-settings@@anp-file-icons": true,
  "anuppuccin-theme-settings@@anp-floating-header": false,
  "anuppuccin-theme-settings@@anp-collapse-folders": true,
  "anuppuccin-theme-settings@@anp-status-bar-select": "anp-floating-status-bar",
  "anuppuccin-theme-settings@@anp-table-width": true,
  "anuppuccin-theme-settings@@anuppuccin-theme-light": "ctp-latte",
  "minimal-style@@folding-offset": 32,
  "minimal-style@@metadata-heading-off": true,
  "minimal-style@@metadata-add-property-off": true,
  "anuppuccin-theme-settings@@anp-autohide-titlebar": true,
  "anuppuccin-theme-settings@@anp-table-align-th": "left",
  "anuppuccin-theme-settings@@anp-table-align-td": "left",
  "supercharged-links@@3815-497b-color": "#98BB6C",
  "supercharged-links@@3815-497b-weight": "normal",
  "supercharged-links@@3815-497b-before": " ",
  "supercharged-links@@10c0-e2b0-before": " ",
  "supercharged-links@@b1a7-3727-before": "󰢧 ",
  "supercharged-links@@e06c-3ba3-before": " ",
  "supercharged-links@@e06c-3ba3-weight": "normal",
  "supercharged-links@@e06c-3ba3-color": "#FF9E3B",
  "supercharged-links@@2606-c2d5-color": "#A3D4D5",
  "supercharged-links@@2606-c2d5-weight": "normal",
  "supercharged-links@@10c0-e2b0-weight": "normal",
  "supercharged-links@@2606-c2d5-before": "󱞁 ",
  "supercharged-links@@930e-5a22-weight": "normal",
  "supercharged-links@@930e-5a22-color": "#E6C384",
  "supercharged-links@@930e-5a22-before": " ",
  "supercharged-links@@aedf-a692-weight": "normal",
  "supercharged-links@@ab95-a475-color": "#FFA066",
  "supercharged-links@@ab95-a475-weight": "normal",
  "supercharged-links@@ab95-a475-before": "󰸷 ",
  "supercharged-links@@108c-9eb1-weight": "normal",
  "supercharged-links@@108c-9eb1-before": " ",
  "supercharged-links@@fc92-4478-weight": "normal",
  "supercharged-links@@108c-9eb1-color": "#D27E99"
}
